In [192]:
import pandas as pd
import json
from pandas.io.json import json_normalize
import copy

data = 'world_bank_projects.json'
json_df1 = pd.read_json(data)
json_df4 = json_df1.copy()

#Solution to first question of finding most common country using value_counts()
most_common_country = json_df1['countryname'].value_counts()

print(most_common_country.head(10))

People's Republic of China         19
Republic of Indonesia              19
Socialist Republic of Vietnam      17
Republic of India                  16
Republic of Yemen                  13
Nepal                              12
Kingdom of Morocco                 12
People's Republic of Bangladesh    12
Republic of Mozambique             11
Africa                             11
Name: countryname, dtype: int64

In [178]:
#empty list to house all dictionaries from json_df['mjtheme_namecode']
new_list = []
new_df = pd.DataFrame()

#extract each dictionary and append to new_list
for row in json_df1['mjtheme_namecode']:
    for element in row:
        new_list.append(element)

        
#create dataframe grouped by code
new_list3 = json_normalize(new_list)
new_list3.groupby(by = 'code')

    
#find the names of top 10 projects
new_df_valuecounts = new_list3['name'].value_counts()

print(new_df_valuecounts.head(10))

Environment and natural resources management    223
Rural development                               202
Human development                               197
Public sector governance                        184
Social protection and risk management           158
Financial and private sector development        130
                                                122
Social dev/gender/inclusion                     119
Trade and integration                            72
Urban development                                47
Name: name, dtype: int64

In [193]:
#create lookup table by dropping empty strings and duplicates
emptystrings = new_list3['name'] != ''
lookup_table = new_list3[emptystrings].drop_duplicates()
lookup_table = lookup_table.set_index('code')
lookup_table.index = lookup_table.index.astype(int)

#iterate through each dictionary to fill in values from lookup table
for row in json_df4['mjtheme_namecode']:
    for element in row:
        if str(element['name']) != '':
            next
        else:
            x = int(element['code'])
            #keep format similar by having apostrophes around string value
            string_value = str(lookup_table.loc[x, 'name'])
            element['name'] = string_value

#Since second dictionary in first row has an empty 'name' value, we can print the first row to check if it worked
print(json_df4['mjtheme_namecode'][0])

[{'code': '8', 'name': 'Human development'}, {'code': '11', 'name': 'Environment and natural resources management'}]